server:
  port: 8083
  api-suffix: api/scheduler

spring:
  application:
    name: scheduler

  jackson:
    time-zone: America/Sao_Paulo

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB_NAME}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false

kong:
  url: ${KONG_URL}

ui:
  url: ${UI_URL}

auth:
  jwt:
    secret: ${JWT_SECRET}
  services:
    internal:
      secret: ${JWT_SERVICES_INTERNAL_SECRET}
